*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    background: rgba(255, 255, 255, .1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 1s ease  ;
}
.bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/lilya.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}